.lives {
  position: absolute;
  bottom: 5rem;
  left: 2rem;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .lives {
    position: absolute;
    bottom: 5rem;
    left: 20rem;
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 2rem;
  }
}
